extends ../layout/layoutPage
block content
    form(action='../login/log' ,method='POST')
        div(class="form-group")
            label(for="exampleInputEmail1") Email address
            input(type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="userName")
        if errorsUserName
            small( class="form-text text-muted") #{errorsUserName}
        div(class="form-group")
            label(for="exampleInputPassword1") Password
            input(type="password" class="form-control" id="exampleInputPassword1" name="password")
        if errorsPassword
            small( class="form-text text-muted") #{errorsPassword}
        button(type="submit" class="btn btn-info") Login

